/* Removes browser defaults injected by browsers */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body */
body {
    background-color: #f2f2f2;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
}

/* header */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6rem;
    align-content: center;
    position: fixed;
    /* header stays above content */
    z-index: 1000;
    background: linear-gradient(to right, #CF2D11 40%, #260801) left;


    /* header ul */
    ul {
        list-style: none;
    }

    /* header anchors */
    a {
        text-decoration: none;
    }

    /* header, page title */
    h1 {
        color: #DECECC;
        font-size: 28px;
        text-transform: uppercase;
        font-family: "Sekuya", system;
    }

    /* navigation icons */
    i {
        color: #f2f2f2;
        font-size: 37px;
    }

    /* menu button */
    button {
        background-color: #de0808;
        /* hidden button */
        display: none;
    }

    /* navbar container */
    .navigation-container {
        padding-left: 0.5rem;
        padding-right: 1.8rem;
    }

    /* navbar menu list */
    .navigation-menu li {
        display: inline-block;
    }

    .navigation-menu li {
        margin-left: 56px;
    }

    /* list span */
    .navigation-menu span {
        color: #DECECC;
        font-weight: 600;
        text-transform: uppercase;
    }

    .navigation-container span:hover {
        color: aquamarine;
        text-decoration: underline;
    }

}

.header .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* hero section */
#hero-section {
    margin-top: 4.3rem;
    width: 100%;
    height: 70vh;
    background: url('../images/view-london-city-sunset.jpg') no-repeat center / cover;
}

.hero-container {
    height: 100%;
    /* make the background image a little darker*/
    background: linear-gradient(197deg, rgba(16, 21, 28, 0.237) 0%, rgba(0, 0, 0, 0.279) 100%, rgba(0, 0, 0, 0.121) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    div {

        h3 {
            text-transform: capitalize;
            font-size: xx-large;
            font-family: "Lora", serif;
        }

        p {
            background: linear-gradient(197deg, rgba(20, 21, 29, 0.251) 0%, rgba(0, 0, 0, 0.206) 100%, rgba(0, 0, 0, 0.093) 100%);
            max-width: 20rem;
            border-radius: 7px;
            font-size: x-large;

        }
    }
}

/* span, summary */
.summary {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
    font-size: xx-large;
}

/* summary */
#summary {
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: 70%;

        h4 {
            font-size: larger;
        }
    }



}

/* travel section */
#background-image {
    margin-top: 4.6rem;
    width: 100%;
    /*height: 15rem;*/
    background: no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 234, 0);

    /* text in */
    div {
        margin-top: 8rem;
        margin-right: 12rem;
        max-width: 49rem;
        border: 0;
        /* increase space to show background image */
        height: 35rem;

        h2 {
            padding: 10px 10px;
            /* rounded corners */
            border-radius: 100px / 110px 10px;
        }

        p,
        h2 {
            text-align: center;
            text-shadow: 1px 1px #000000;
            background-color: #00000069;

        }

        p {
            font-size: larger;
            padding: 2rem 2rem;
            /* rounded corners */
            border-radius: 10px 110px / 100px;
        }
    }
}

/* show time, date, departure and destination section */
#departure-section {
    width: 100%;
    height: auto;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;

    /* remove dots from ul */
    li {
        list-style-type: none;
    }

    /* departure container*/
    .departure-container {
        background-color: #f2f2f2;

        /* departure and destination */
        .departure-destination {
            display: flex;
            flex-direction: row;
            margin-bottom: 5rem;
            gap: 0.5rem;
            border-top: 4px solid #e3e3e3;
            border-radius: 1.5px;
        }

        /* current date and time */
        #date-time {
            font-size: large;
            display: flex;
            gap: 30px;
            padding-bottom: 18px;
            border-bottom: #606470 dashed;

            /* UK date and time */
            h6 {
                text-align: center;
                margin-left: 27px;
                font-weight: normal;
            }



        }

    }
}

/* travel time table */
.time-table-container {
    width: 100%;
    align-content: center;
}

#timeTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e3e3;

    /* time table for departure and destination */
    table,
    th,
    td {
        border: 2px solid #f2f2f2;
        padding: 4px;

    }

    table {
        /*margin-top: 20px;*/
        border-collapse: collapse;
        color: #ffffff;
        background-color: #263849;


    }

    /* gives separet background color to th child */
    th:nth-child(even),
    th:nth-child(even) {
        background-color: #606470;
    }

    /* gives sepate background color to tr child */
    tr:nth-child(even) {
        background-color: #606470;
    }


}






/* for tablets with screens up to 991px */
@media(max-width: 991px) {

    /* hidden navigation menu */
    .navigation-container .navigation-menu {
        position: fixed;
        left: 100%;
        top: 0;
        width: 190px;
        height: 40%;
        border-bottom-left-radius: 250px;
        padding: 100px 0 40px;
        background: linear-gradient(0deg, #CF2D11 58%, #260801) no-repeat;
        transition: transform 0.7s;
        /*transform: translateX(-100%);*/

        /*>ul {
            max-height: 100;
            overflow-y: hidden;
        } */

        li {
            display: block;
        }

    }

    /* toggle and display menu on the screen from the right */
    header .navigation-menu.open {
        transform: translateX(-100%)
    }

    header {
        padding: 9px 0;
    }

    /* toggle menu */
    header .btn-toggle {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        /* keeps button visible when menu is open */
        z-index: 1;
        margin-right: 17px;
        /*transform: rotate(179deg);*/
    }

    /* horizontal menu lines */
    header button .toggle {
        position: absolute;
        height: 4px;
        width: 28px;
        background-color: #decece;
        transition: transform 0.7s;
        border-radius: 1.4px;
    }

    header button .open-menu {
        transform: translateY(-10px);
    }

    header button .close-menu {
        transform: translateY(10px);
    }

    /* rotetes when menu list is shown */
    header button.active .open-menu {
        transform: rotate(-57deg);
    }

    header button.active .close-menu {
        transform: rotate(-57deg);
    }

    header button.active .rotet-self {
        transform: rotate(26deg);
    }

    /* hero section */
    .hero-container div {
        margin: 1.5rem;

    }

    /* summary */
    #summary section {
        width: 100%;
        margin-top: 5rem;

    }

    /* travel section, transport */
    #background-image {

        height: 100%;

        div {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3.6rem;
            margin-right: 0;


            h2 {
                font-size: large;

            }

            p {
                background-color: #000000a8;
                border-radius: 5px;
                font-size: medium;

            }
        }
    }

    /* time table for departure and destination */
    #timeTable {

        table,
        th,
        tr {
            font-size: small;
        }
    }


}

@media screen and (max-width: 320px) {

    .departure-destination {
        h3 {
            font-size: 16px;
        }
    }

    /* web name*/
    .home {
        font-size: 19px;
    }

    /* time table, travel section */
    #timeTable {
        min-width: 15rem;

        table,
        th,
        tr {
            font-size: xx-small;
        }
    }
}