/* Removes browser defaults injected by browsers */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body */
body {
    background-color: #f2f2f2;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6rem;
    align-content: center;
    position: fixed;
    /* header stays above content */
    z-index: 1000;
    background: linear-gradient(to right, #CF2D11 40%, #260801) left;


    /* header ul */
    ul {
        list-style: none;
    }

    /* header anchors */
    a {
        text-decoration: none;
    }

    /* header, page title */
    h1 {
        color: #DECECC;
        font-size: 28px;
        text-transform: uppercase;
        font-family: "Sekuya", system;
    }

    /* navigation icons */
    i {
        color: #f2f2f2;
        font-size: 37px;
    }

    /* menu button */
    button {
        background-color: #de0808;
        /* hidden button */
        display: none;
    }

    /* navbar container */
    .navigation-container {
        padding-left: 0.5rem;
        padding-right: 1.8rem;
    }

    /* navbar menu list */
    .navigation-menu li {
        display: inline-block;
    }

    .navigation-menu li {
        margin-left: 56px;
    }

    /* list span */
    .navigation-menu span {
        color: #DECECC;
        font-weight: 600;
        text-transform: uppercase;
    }

    .navigation-container span:hover {
        color: aquamarine;
        text-decoration: underline;
    }

}

.header .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* for tablets with screens up to 991px */
@media(max-width: 991px) {

    /* hidden navigation menu */
    .navigation-container .navigation-menu {
        position: fixed;
        left: 100%;
        top: 0;
        width: 190px;
        height: 40%;
        border-bottom-left-radius: 250px;
        padding: 100px 0 40px;
        background: linear-gradient(0deg, #CF2D11 58%, #260801) no-repeat;
        transition: transform 0.7s;
        /* display menu on the screen form the right */
        transform: translateX(-100%);

        >ul {
            max-height: 100%;
            overflow-y: hidden;
        }

        li {
            display: block;
        }

    }

    header {
        padding: 9px 0;
    }

    /* toggle menu */
    header .btn-toggle {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 1;
        margin-right: 17px;
        /*transform: rotate(179deg);*/
    }

    /* horizontal menu lines */
    header button .toggle {
        position: absolute;
        height: 4px;
        width: 28px;
        background-color: #decece;
        transition: transform 0.7s;
        border-radius: 1.4px;
    }

    header button .open-menu {
        transform: translateY(-10px);
    }

    header button .close-menu {
        transform: translateY(10px);
    }


}