# secret key 
.env
# api keys
apiKey.txt
# json package


# testing app
testing.js
# node modules 
node_modules

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
